@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Animations */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin 20s linear infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
